<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creating digital planners, digital stickers, and digital notebooks for platforms like GoodNotes" />

    <meta property="og:title" content="Four Rabbits Studio" />
    <meta property="og:url" content="https://www.fourrabbitsstudio.com/" />
    <meta property="og:description" content="Creating digital planners, digital stickers, and digital notebooks for platforms like GoodNotes" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="http://fourrabbitsstudio.com/assets/logo.png" />
    <meta property="og:image:secure_url" content="https://fourrabbitsstudio.com/assets/logo.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
    <meta property="og:image:alt" content="A shiny red apple with a bite taken out" />

    <title>Four Rabbits Studio</title>

    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link href="/assets/base.css" rel="stylesheet">
    <link href="/assets/fontawesome.css" rel="stylesheet">
    <link href="/assets/brands.css" rel="stylesheet">
  </head>
  <body>
  <main>
        <img class="logo" src="/assets/logo.svg" alt="logo">
        <div class="icons">
            <a href="https://fourrabbitsstudio.etsy.com/"><i class="fa-brands fa-etsy"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.tiktok.com/"><i class="fa-brands fa-tiktok"></i></a>
        </div>
    </main>
  </body>
</html>
