{{define "main"}}
  {{template "products" .}}
{{end}}

{{define "products"}}
<table>
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Download</th>
    </tr>
  </thead>
  <tbody>
  {{range .Products}}
    {{if .ProductLink}}
      <tr>
        <td>{{.ProductLink}}</td>
        <td>{{.DownloadLink}}</td>
      </tr>
    {{else}}
      <tr>
        <td><button hx-post="/products" hx-vals='{"download": "{{.DownloadLink}}"}'>New Link</button></td>
        <td name="download">{{.DownloadLink}}</td>
      </tr>
    {{end}}
  {{end}}
  </tbody>
</table>
{{end}}
