{{define "handles"}}
<div class="flex flex-row gap-14 justify-center p-8">
    <a href="https://fourrabbitsstudio.etsy.com/"><i class="fa-brands fa-etsy text-5xl"></i></a>
    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram text-5xl"></i></a>
    <a href="https://www.tiktok.com/"><i class="fa-brands fa-tiktok text-5xl"></i></a>
</div>
{{end}}
