{{define "main"}}
<main class="grow">
  <form hx-post="/login" class="flex flex-col gap-4">
    <div class="flex flex-col gap-4">
      <label>Username</label>
      <input type="text" name="username" placeholder="Rabbit"></input>
    </div>
    <div class="flex flex-col gap-4">
      <label>Password</label>
      <input type="password" name="password"></input>
    </div>
    <button type="submit">Login</button>
  </form>
</main>
{{end}}
