<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creating hand-crafted digital planners, digital stickers, and digital notebooks for notetaking applications like GoodNotes" />

    <meta property="og:title" content="Four Rabbits Studio" />
    <meta property="og:url" content="https://www.fourrabbitsstudio.com/" />
    <meta property="og:description" content="Creating hand-crafted digital planners, digital stickers, and digital notebooks for notetaking applications like GoodNotes" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="http://fourrabbitsstudio.com/assets/logo.png" />
    <meta property="og:image:secure_url" content="https://fourrabbitsstudio.com/assets/logo.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="590" />
    <meta property="og:image:height" content="564" />
    <meta property="og:image:alt" content="Logo of 4 rabbits in a white circle" />

    <title>Four Rabbits Studio</title>

    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/assets/tailwind.css" />
    <link rel="stylesheet" href="/assets/base.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css" integrity="sha512-d0olNN35C6VLiulAobxYHZiXJmq+vl+BGIgAxQtD5+kqudro/xNMvv2yIHAciGHpExsIbKX3iLg+0B6d0k4+ZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/brands.min.css" integrity="sha512-8RxmFOVaKQe/xtg6lbscU9DU0IRhURWEuiI0tXevv+lXbAHfkpamD4VKFQRto9WgfOJDwOZ74c/s9Yesv3VvIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body class="min-h-screen bg-background flex flex-col items-center justify-center">
    <main class="grow mx-8 flex items-center justify-center gap-8 ">
        {{template "newsletter"}}
    </main>
    <footer>
    {{template "handles"}}
    </footer>
  </body>
</html>
